* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

/*Header*/
#nav i {
    background-color: rgb(38, 0, 255);
    color: black;
    float: left;
    padding: 1%;
    font-size: 5rem;
    width: 100%;
    margin-left: -2px;
}
